{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-lg-12">
      <form class = "form-inline .col-form-label-sm " method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form4.html' %}
        <button type="submit" class="btn btn-success ml-1">Yeni Sinif olustur</button>
      </form>
    </div>
  </div>
<div class="card mt-3 text-center bg-warning">
  <h3 class="card-header">{{user.username}} Öğretmenin Sınıfları</h3>
</div>
<div class="card-deck mt-2">
{% for sinif in siniflar %}

<div class="card mb-3">
  <h5 class="card-header">{{sinif.isim}}</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="{{sinif.get_absolute_url}}" class="btn btn-info">Sınıfa git</a>
  </div>
</div>
 {% endfor %}
</div> 
 
 
{% endblock %}