{% extends 'base.html' %}

{% block title %}{{sinif.isim}}{% endblock %}

{% block content %}

  <div class="row justify-content-left mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Sınıfa Öğrenci ekle</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form2.html' %}
            <button type="submit" class="btn btn-primary btn-block">Ekle</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<p>{{sinif.isim}}</p>
<p>{{sinif.asistan}}</p>
<p>{{sinif.ogretmen.teacher.username}}</p>
<p>{{sinif.ogrenci.all}}</p>
<p>{{sinif.hedef}}</p>
<hr>

{% endblock %}