{% extends 'base.html' %}

{% block title %}{{object.başlık}}{% endblock %}

{% block metalar %}
		<meta name="description" content="{{object.başlık}}'e yönelik bilgilere sayfamızdan erişebilirsiniz.">
		<meta name="keywords" content="{{object.başlık}}">
{% endblock %}


{% block content %}

<div class="card border-info mb-3">
  <div class="card-header text-center">{{object.başlık}}</div>
  <div class="card-body">
    <p class="card-text">{{object.uzun_içerik|safe}}</p>
  {% if object.resim_grubu %}
  <div class = "text-center">
	{% for resim in object.resim_grubu.resimler.all %}
		<img src="{{resim.image1.url}}" class="img-fluid img-thumbnail mb-2" alt="{{resim.isim}}">
	  {% endfor %}
  </div>	  
  {% endif %}	  
  </div>
</div>

{% endblock %}

{% for resim in product.category.nasıl_uygulanır_resimleri.resimler.all %}
		<img src="{{resim.image1.url}}" class="img-fluid img-thumbnail mb-2" alt="{{resim.isim}}">
	  {% endfor %}