{% extends 'base.html' %}
  {% block content %}
 
 {% block title %}Kullanım Hakları{% endblock %}

{% block metalar %}
		<meta name="description" content="Bu sayfamızdan kullanım ve telif haklarına yönelik bilgilere ulaşabilirsiniz.?">
		<meta name="keywords" content="Kullanım Hakları">
{% endblock %}

 <div class="card border-info mb-3">
  <div class="card-header text-center border-info text-primary">Kullanım Hakları</div>
  <div class="card-body text-info">
    <p class="card-text">Bu sitenin Türk Patent Enstitüsü ve Telif Hakları Genel Müdürlüğün’den onaylatılmış içeriği, telif hakları ve ticari marka kanunları tarafından korunmaktadır. Bu sitedeki hiç bir malzeme değiştirilemez, kopyalanamaz, çoğaltılamaz, yeniden yayımlanamaz. Telif ve mülkiyet hakları saklı kalmak koşuluyla, kişisel ve ticari olmayan kullanım amaçlarıyla bu sitenin olanaklarından yararlanılabilir.</p>	  
  </div>
</div>
 
 {% endblock %}