{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tüm Siparişler
{% endblock %}

{% block content %}
<a class = "btn btn-block btn-primary" href = "{% url 'orders:istatistikler' %}"> Satış Verileri</a>
<div class = "row justify-content-md-center">
	<div class = "col-md-8">
		<h1 class = "text-center text-info py-0 mb-0">Tüm Siparişler</h1>
		
		 <div class="btn-group btn-group-sm justify-content-between w-100 mb-2" role="group" aria-label="Basic example">
			<a href = "{% url 'orders:siparislerin_hepsi'%}" type="button" class="btn btn-primary">Hepsi</a>
			<a href = "{% url 'orders:siparislerin_hepsi_filtre' 1 %}" type="button" class="btn btn-danger">İşlemde</a>
			<a href = "{% url 'orders:siparislerin_hepsi_filtre' 2 %}" type="button" class="btn btn-warning">Hazırlanıyor</a>
			<a href = "{% url 'orders:siparislerin_hepsi_filtre' 3 %}" type="button" class="btn btn-success">Kargoda</a>
			<a href = "{% url 'orders:siparislerin_hepsi_filtre' 4 %}" type="button" class="btn btn-secondary">İptal</a>

		</div>

		<form class="form-inline justify-content-md-center form-sm">
			<div class="form-group mx-sm-3 mb-2">
			<label for="inputPassword2" class="sr-only">Sipariş</label>
			  <input type="text" class="form-control form-control-sm" id="inputPassword2" placeholder="İsim" name ="q">
			</div>
			<button type="submit" class="btn btn-primary btn-sm mb-2">Ara</button>
		  </form>
		<div class="card-body">
			<div class="list-group">
			{% for siparis in siparisler %}
			  <a href="{{siparis.get_absolute_url}}" class="list-group-item list-group-item-action list-group-item-info">{{ forloop.revcounter }}. {{siparis.first_name}} {{siparis.last_name}} - 
				<span class = "badge badge-pill {% if siparis.siparis_durumu == '1' %} badge-danger {% endif %} {% if siparis.siparis_durumu == '2' %} badge-warning {% endif %} {% if siparis.siparis_durumu == '4' %} badge-secondary {%endif%} {% if siparis.siparis_durumu == '3' %} badge-success {%endif%}">{{siparis.get_siparis_durumu_display}}-{{siparis.created|timesince}} önce</span>
			  </a>
			{% endfor %}
			</div>
		</div>
	</div>
</div>


{% endblock %}