{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Şifrenizi yenileyin.</h3>
          <p>E-mail adresinize şifrenizi yenileyebilmeniz için bir mail gönderildi. Gelen kutusunda mailimizi göremiyorsanız, spam klasörünü kontrol etmeyi unutmayın. </p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Giriş yap</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
