{% extends 'base_accounts.html' %}

{% block title %}Şifreniz güncellendi!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Şifreniz güncellendi</h3>
          <div class="alert alert-success" role="alert">
            Şifreniz başarıyla güncellendi.Siteye giriş yapabilirsiniz.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Giriş yap</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
